@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

.bento-container {
    perspective: 1000px;
}

.bento-card {
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    transform: rotateX(5deg) rotateY(5deg);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.bento-card h3:hover {
    color: blue;
    transition: all 0.5s ease-in-out;
}

.bento-card:hover {
    transform: translateZ(20px) rotateX(0deg) rotateY(0deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.bento-card img {
    transition: filter 0.5s ease, transform 0.5s ease;
}

.bento-card:hover img {
    filter: brightness(1.1);
    transform: scale(1.05);
}

.animate-expand {
    animation: expand 0.3s ease forwards;
}

.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

@layer utilities {
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
}


@keyframes expand {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}